
.row {
  width: 100%;
}

p { 
	background-color: #fab672;
	font-family: Helvetica;
	width: 90%;
	margin-right: auto;
  margin-left: auto;
}

h1{
	text-align: center;
	width: 75%;
	margin-left: 50px;
	margin-right: 50px;
}

h2 {
	margin-top: 0%;
	border:  1px solid black;
	width:  25%;
	margin-left: 75%;
	margin-right: 2%;
}

section {
	background-color: #fab672;
}

.titulo2 {
	background-color: #338AFF;
}

.titulo3 {
	background-color: #C433FF;
}


@media (min-width: 992px) {
  .col-lg-3 {
	    width: 25%;
	    float: left;
	    border: 1px solid black;
			margin-right: 0.5%;
	  	margin-left: 0.5%;
  }
  
}


@media (min-width:  768px) and (max-width: 991px){
	.col-md-5 {
	    width: 41.66%;
	    float: left;
	    border: 1px solid black;
	    margin-right: 0.5%;
  		margin-left: 0.5%;
  		margin-top: 0.5%;
  		margin-bottom: 0.5%;
  }
  .col3 {
  	width:  84.32%;
  	float:  left;
  }

}

@media (max-width:  767px){
	.col-xs-12{
		width: 75%;
		border: 1px solid black;
		margin-right: 0.5%;
  	margin-left: 0.5%;
  	margin-top: 0.5%;
  	margin-bottom: 0.5%;
	}
}